
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color:  #223151;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.left {
  font-size: 25px;
  font-weight: bold;
  color: #00d1b2;
}

.right a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  transition: color 0.3s ease;
  font-size: 17.5px;
}

.right a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(90deg, #00d1b2, #2ecc71);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.right a:hover {
  color: #00d1b2;
}

.right a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
