.skills-section {
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  padding: 60px 20px;
  text-align: center;
}

.skills-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.skill-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  color: #3b82f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.skill-card i {
  font-size: 28px;
}

.skill-card span {
   font-size: 16px;
  color: #124493;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}


.skill-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.skill-card:hover span {
  opacity: 1;
  visibility: visible;
}





