<!-- <div class="education-section">
  <h2>Education</h2>

  <div class="card" *ngFor="let edu of education">
    <h3>{{ edu.institution }}</h3>
    <p>{{ edu.details }}</p>
    <p class="note">{{ edu.note }}</p>
  </div>
</div> -->



<div class="education-section">
  <h2><i class="fa-solid fa-graduation-cap"></i> Education</h2>

  <div class="education-wrapper">
    <div class="edu-card" *ngFor="let edu of education">
      <div class="edu-icon">
        <i class="fa-solid fa-school"></i>
      </div>
      <div class="edu-info">
        <h3>{{ edu.institution }}</h3>
        <p class="details">{{ edu.details }}</p>
        <p class="note">{{ edu.note }}</p>
      </div>
    </div>
  </div>
</div>
