<app-header></app-header>

<div class="hero" style="background-image: url('https://github.com/MdGauhar1/gauhar-portfolio/blob/main/src/assets/aa.jpg?raw=true');">
  <div class="hero-content">
    <h1>Md Gauhar Ayub Khan</h1>
    <h3>Java Developer</h3>

    <div class="resume-social">
      <a href="assets/mdgauhar34s.pdf" download>
        <button class="resume-btn">Download Resume</button>
      </a>
      <div class="social-icons">
        <a href="https://github.com/MdGauhar1/"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/md-gauhar-ayub-khan-52978520a"><i class="fab fa-linkedin"></i></a>
        <a href="mailto:mdgauhar0007@gmail.com"><i class="fas fa-envelope"></i></a>
        <a href="https://wa.me/918310597009"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>

  </div>
</div>



<div id="about"><app-about></app-about></div>
<div id="skills"><app-skills></app-skills></div>
<div id="projects"><app-projects></app-projects></div>
<div id="experience"><app-experience></app-experience></div>
<div id="education"><app-education></app-education></div>
<div id="contact"><app-contact></app-contact></div>

<footer class="footer">
  <div class="social-icons">
    <a href="https://github.com/MdGauhar1/"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/md-gauhar-ayub-khan-52978520a"><i class="fa-brands fa-linkedin"></i></a>
    <a href="mailto:mdgauhar0007@gmail.com"><i class="fa-solid fa-envelope"></i></a>
    <a href="https://wa.me/918310597009"><i class="fa-brands fa-whatsapp"></i></a>
  </div>
  <p>© 2025 Md Gauhar Ayub Khan. All rights reserved.</p>
</footer>
