<div class="contact-container">
  <div class="contact-box info">
    <h2>Contact Information</h2>
    <p>
       <i class="fas fa-envelope"></i>
       <a href="mailto:mdgauhar0007&#64;gmail.com">mdgauhar0007&#64;gmail.com</a>
       <a href="mailto:mohdgauhar34&#64;gmail.com">mohdgauhar34&#64;gmail.com</a>
    </p>
    <!-- <p><i class="fas fa-envelope"></i> mdgauhar0007gmail.com</p> -->
    <!-- <p><i class="fas fa-phone"></i> 9711492855, 8310597009</p> -->
     <p>
         <i class="fas fa-phone"></i>
         <a href="tel:9711492855">9711492855</a>
         <a href="tel:8310597009">8310597009</a>
     </p>
    <p><i class="fas fa-map-marker-alt"></i> Delhi, India</p>

    <h4>Languages</h4>
    <ul>
      <li><strong>English</strong> – Fluent</li>
      <li><strong>Hindi</strong> – Native</li>
    </ul>
  </div>

  <div class="contact-box form">
    <form>
      <input type="text" placeholder="Your Name" required />
      <input type="email" placeholder="Your Email" required />
      <textarea rows="5" placeholder="Your Message"></textarea>
      <button type="submit">Send Message</button>
    </form>
  </div>
</div>
